server {
    listen 80;

    location @@SUBPATH@@/server/ {
        proxy_pass http://msm-backend:9080/;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
    }

    location @@SUBPATH@@/ {
        @@REWRITE@@
        proxy_pass http://msm-frontend;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}